<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <div class="col-lg-12">
        <img src="../images/user-icon.png">
      </div>

      <div class="col-lg-12">
      <h4>{{ currentUser }} </h4>
      <h5>Westminster</h5>
      </div>

    </div>

    <div class="col-lg-9">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li class="#"><a class="#" href="#">Profile</a></li>
          <li class="#"><a class="#" href="#">Overview</a></li>
          <li class="#"><a class="#" href="#">Secrets Menu</a></li>
          <li class="#"><a class="#" href="#">Favorite</a></li>
        </ul>
      </div>

    </div>



  </div>
</div>