<div class="col-lg-12">
        <h4>Profile</h4>
      </div>

      <div class="col-lg-12">
        <div class="col-lg-9">
          <form class="#" role="profile" ng-submit="profileUpdate()">

          
            <div class="col-lg-12 input-group">
            <label for="first_name">First Name</label>
              <input type="text" class="form-control" size="50" placeholder="" ng-model="firstName" name="first-name" id="first-name">
            </div>

            <div class="col-lg-12 input-group">
            <label for="first_name">Last Name</label>
              <input type="text" class="form-control" size="50" placeholder="" ng-model="lastn" name="last-name" id="last-name">
            </div>

            <div class="col-lg-12 input-group">
            <label for="first_name">Nick Name</label>
              <input type="text" class="form-control" size="50" placeholder="" ng-model="" name="nick-name" id="nick-name">
            </div>

            <div class="col-lg-12 input-group">
            <label for="city">City</label>
              <input type="text" class="form-control" size="50" placeholder="" ng-model="" name="city-name" id="city-name">
            </div>



            <div class="col-lg-12 input-group-btn">
                <button class="btn btn-default" type="submit">Save Changes</button>
              </div>  
            
          

        </form>

        </div>