body {
  padding-top: 150px;
}
/*@media screen and (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}*/

a {
  text-decoration: none;
}

.mainImage {
  background-image: url("../images/cityscape2x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 630px;
  height: 186px;
  border-radius: 5px;
}


.signup-pitch {
  color: #d90007;
}

.sidebar {
  height: 800px;
  border-left: 1px solid;
  margin-left: 3%
}

.top-sidebar {
  width: 100%;
  margin-left: 3%;
  height: 250px;
  border-bottom: 1px solid;
}

.middle-sidebar {
  width: 100%;
  margin-left: 3%;
  height: 250px;
  border-bottom: 1px solid;
}

.bottom-sidebar {
  width: 100%;
  margin-left: 3%;
  height: 250px;
  
}

.navList {
  height: 60px;
}

.navbar-brand {
  margin-top: 20px;
  font-size: 20px;
}

.user-icon  {
  font-size: 20px;
  height: 34px;
}

.mainNav {
  margin-left: 30px;
}

/*#navbar-btn {
  height: 25px;
}*/

#my-navbar {
  background-color: #333;
}

li .active {
  height: 25px; 
  width: 25px;
}


.container {
  width: 960px;
  margin: 0px auto;
}

@media all and (max-width: 959px) {
  .container {
    width: 100%;
  }

  .activity {
    width: 70%;
  }

  .sidebar {
    width: 30%;
  }

}


@media all and (max-width: 640px) {

  .mainImage {
    width: 100%;
    margin-top: 100px;
  }

  .activity {
    width: 100%;
  }

  .top-sidebar {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }

}






