body {
  padding-top: 75px;
}

a {
  text-decoration: none;
}

.pitchImage {
  background-image: url("../images/cityscape2x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.mainPitch {
 
}


.signup-pitch {
  color: #d90007;
}

.sidebar {
  height: 600px;
  border-left: 1px solid #e6e6e6;
}

.top-sidebar {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.middle-sidebar {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.bottom-sidebar {
  width: 100%;
  
}

.navbar-brand {
  font-size: 20px;
}

.user-icon  {
  font-size: 20px;
  height: 34px;
}

.mainNav {
  margin-left: 30px;
}

#my-navbar {
  background-color: #333;
}

#navbar-login-btn {
  border-radius: 15px;
  font-size: 13px;
  width: 70px;
}

#navbar-login-btn a {
  color: #313131;
  text-decoration: none;
}

#navbar-signup-btn  a {
  color: #313131;
  text-decoration: none;
}

#navbar-signup-btn {
  border-radius: 15px;
  font-size: 13px;
  width: 70px;
}

#user-icon-text {
  color: #9d9d9d;
  text-decoration: none;
}

#user-icon-text:hover {
  color: #fff;
}

#user-icon-simple {
  margin-top: 1px;
}



/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
    #navbar-signup-item {
      display: none;
    }

    #navbar-login-item {
      display: none;
    }

}

/* Landscape tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

    #navbar-signup-item {
      display: none;
    }

    #navbar-login-item {
      display: none;
    }

    #navbar-login-btn {

  }

  .navList {
    margin-left: -8px
  }


}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {


    .navbar-inverse {
      height: 95px;
    }

    /*#navbar-signup-item {
      display: none;
    }

    #navbar-login-item {
      display: none;
    }*/

    /*#navbar-login-btn {
      position: absolute;
      top: -92px;
      right: 10px;

    }

    #navbar-signup-btn {
      position: absolute;
      top: -92px;
      right: -835px;
    } */

    .location-input {
      width: 250px;
      float: left;
      padding-right: 10px;
    }

    .goodies-input {
      width: 285px;
      float: left;
      padding-right: 10px;
    }

    #nav-item {
      width: auto;
    }

    #navbar-signup-btn {
      display: none;
    }

    #navbar-login-btn {
      display: none;
    }

    #user-box {
    margin-top: -78px;
    float: right;
    /*margin-right: 50px;*/
    }



}


/*@media screen and (min-width: 768px) and (max-width: 816px) {

    .location-input {
      width: 250px;
      float: left;
      padding-right: 10px;
    }

    .goodies-input {
      width: 285px;
      float: left;
      padding-right: 10px;
    }


  }*/

 /*Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

/*    .navbar-inverse {
      height: 110px;
    }*/

    .location-input {
      width: 439px;
    }

    .goodies-input {
      width: 400px;
    }

/*    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
     since 3.1.0 
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
*/
    #navbar-login-btn {
      display: none;
    }

    #navbar-signup-btn {
      display: none;
    }
}


/*/* Portrait phones and smaller */
@media screen and (max-width: 480px) {

  #user-box {
    margin-left: 35px;
  }

  .location-input {
      width: 300px;
    }

    .goodies-input {
      width: 261px;
    }

}













