<div class="container">
  <div class="row">

    <div class="col-lg-3">
      <div class="col-lg-12">
        <img class="img-responsive" src="../images/user-icon2.png">
      </div>

      <div class="col-lg-12">
      <h4>{{ currentUser }} </h4>
      <h5>Westminster</h5>
      </div>

    </div>

    <div class="col-lg-9">

      <div class="col-lg-12">
        <ul class="list-inline">
          <li class="#"><a class="#" ui-sref="profile.settings">Profile</a></li>
          <li class="#"><a class="#" ui-sref="profile.overview">Overview</a></li>
          <li class="#"><a class="#" ui-sref="profile.secrets">Secrets Menu</a></li>
        </ul>
      </div>

      <div class="col-lg-12">
        <div ui-view></div>
      </div>

      



  </div>
</div>
</div>