<div class="well">
<form class="" ng-submit="userSignup()">
    <div class="input-group" id="signupUsername">
      <input class="form-control" type="text" size="30" placeholder="Username" ng-model="username">
    </div>
    <br>
    <div class="input-group" id="signupPassword">
      <input class="form-control" type="password" size="30" placeholder="Password" ng-model="password">
    </div>
    <br>
    <div class="input-group" id="retypePassword">
      <input class="form-control" type="password" size="30" placeholder="Retype Password" ng-model="retypePassword">
    </div>
    <br>
    <div class="input-group" id="signupEmail">
      <input class="form-control" type="email" size="30" placeholder="Email" ng-model="email">
    </div>
    <br><br>
    <button class="btn btn-default btn-lg input-group" id="signupButton" type="submit">Sign up</button>
  </form>
</div>